/*
name: verify prefix with name convension
input:
   additionals:
      modules:
         - name: snake case with All lowercase
           options:
output:
   modules:
      - simpleColor: "--simple-color"
        globalMargin: "--global-margin"
        darkPurple: "--dark-purple"
        testPage: ".test-page"
        melody: "#melody"
*/

:root {
   --simple-color: red;
   --global-margin: 16px;
}

div.test-page:hover {
   margin: var(--global-margin);
   color: var(--dark-purple, --simple-color);
}

#melody:hover {
   width: 50px;
   height: 10px;
}